# Configuration file

####################
# entitiesalwaysinfernal
####################

entitiesalwaysinfernal {
    B:"Alien Creeper"=false
    B:"Battletower Golem"=false
    B:Blaze=false
    B:"Blue Slime"=false
    B:"Cave Spider"=false
    B:Centipede=false
    B:Creeper=false
    B:Dwarf=false
    B:"Dwarf defender"=false
    B:"Dwarf grenadier"=false
    B:"Dwarf spearman"=false
    B:Enderman=false
    B:EntityHSSoulLost=false
    B:"Fire Beetle"=false
    B:Goblin=false
    B:"Goblin defender"=false
    B:"Goblin healer"=false
    B:Harbinger=false
    B:"Haunted Armor"=false
    B:Hydra=false
    B:"King Spider"=false
    B:Kobold=false
    B:Lizard=false
    B:Mimic=false
    B:Minoshroom=false
    B:Minotaur=false
    B:"Mist Wolf"=false
    B:Mummy=false
    B:Naga=false
    B:"Nitro Creeper"=false
    B:Ogre=false
    B:"Ogre berseker"=false
    B:"Ogre defender"=false
    B:"Ogre grenadier"=false
    B:"Ogre healer"=false
    B:"Ogre ninja"=false
    B:"Ogre spearman"=false
    B:"Pinch Beetle"=false
    B:Pirate=false
    B:"Pirate defender"=false
    B:"Pirate grenadier"=false
    B:"Pirate healer"=false
    B:"Pirate spearman"=false
    B:Redcap=false
    B:"Redcap Sapper"=false
    B:SandWorm=false
    B:Silverfish=false
    B:Skeleton=false
    B:"Skeleton Druid"=false
    B:"Skeleton archer"=false
    B:Slime=false
    B:"Slime Beetle"=false
    B:Spider=false
    B:"Swarm Spider"=false
    B:Walker=false
    B:"Walker archer"=false
    B:"Walker ninja"=false
    B:Witch=false
    B:Zombie=false
    B:entity.BetterDungeons.IceBull.name=false
    B:entity.BetterDungeons.Liche.name=false
    B:entity.BetterDungeons.SlimeBoss.name=false
    B:entity.BetterDungeons.SpiderBoss.name=false
    B:entity.BetterDungeons.SummonedUndead.name=false
    B:entity.BetterDungeons.TurtleBoss.name=false
    B:entity.DimDoors.Monolith.name=false
    B:"pirate boss"=false
    B:"walker boss"=false
}


####################
# general
####################

general {
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDs=6232,322:1,396,277,278,279,403,5871,5873,276,310,311,312,313,5564,5567,5569,5574,5575,5577,5580,5585,5827,5829,5830,5880,5882,6112,6108,6114,6058,6059,6060,6062,6064,6067,6068,6069,6071,6072,6073,6074,6075,6076,6079,6081,6408,7707
    I:eliteRarity=30
    I:infernoRarity=10
    S:mobHealthFactor=1.0
    I:ultraRarity=10
    B:useSimpleEntityClassnames=false
}


####################
# permittedentities
####################

permittedentities {
    B:"Alien Creeper"=true
    B:"Battletower Golem"=true
    B:Blaze=true
    B:"Blue Slime"=true
    B:"Cave Spider"=true
    B:Centipede=true
    B:Creeper=true
    B:Dwarf=true
    B:"Dwarf defender"=true
    B:"Dwarf grenadier"=true
    B:"Dwarf spearman"=true
    B:Enderman=true
    B:EntityHSSoulLost=false
    B:"Fire Beetle"=true
    B:Goblin=true
    B:"Goblin defender"=true
    B:"Goblin healer"=true
    B:Harbinger=false
    B:"Haunted Armor"=true
    B:Hydra=true
    B:"King Spider"=true
    B:Kobold=true
    B:Lizard=true
    B:Mimic=true
    B:Minoshroom=true
    B:Minotaur=true
    B:"Mist Wolf"=true
    B:Mummy=true
    B:Naga=true
    B:"Nitro Creeper"=true
    B:Ogre=true
    B:"Ogre berseker"=true
    B:"Ogre defender"=true
    B:"Ogre grenadier"=true
    B:"Ogre healer"=true
    B:"Ogre ninja"=true
    B:"Ogre spearman"=true
    B:"Pinch Beetle"=true
    B:Pirate=true
    B:"Pirate defender"=true
    B:"Pirate grenadier"=true
    B:"Pirate healer"=true
    B:"Pirate spearman"=true
    B:Redcap=true
    B:"Redcap Sapper"=true
    B:SandWorm=false
    B:Silverfish=true
    B:Skeleton=true
    B:"Skeleton Druid"=true
    B:"Skeleton archer"=true
    B:Slime=true
    B:"Slime Beetle"=true
    B:Spider=true
    B:"Swarm Spider"=true
    B:Walker=true
    B:"Walker archer"=true
    B:"Walker ninja"=true
    B:Witch=true
    B:Zombie=true
    B:entity.BetterDungeons.IceBull.name=true
    B:entity.BetterDungeons.Liche.name=true
    B:entity.BetterDungeons.SlimeBoss.name=true
    B:entity.BetterDungeons.SpiderBoss.name=true
    B:entity.BetterDungeons.SummonedUndead.name=true
    B:entity.BetterDungeons.TurtleBoss.name=true
    B:entity.DimDoors.Monolith.name=false
    B:"pirate boss"=true
    B:"walker boss"=true
}


